<a href="https://colab.research.google.com/github/HelenSwarovski/sechenov.online/blob/main/%D0%97%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D1%8F_%D0%BF%D0%B8%D1%82%D0%BE%D0%BD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Задания

In [ ]:
# Задание 1
print ('Hello World')

Hello World

In [ ]:
# 2
print (4, 8, 15, 16, 23, 42 )

4 8 15 16 23 42

In [ ]:
# 3
print ('*')
print ('**')
print ('***')
print ('****')
print ('*****')
print ('******')
print ('*******')

*
**
***
****
*****
******
*******

In [ ]:
# 4
print ('Отчет о доходах')
print ('1 квартал: 1200000 руб.')
print ('2 квартал: 1350000 руб.')
print ('3 квартал: 1280000 руб.')
print ('4 квартал: 1420000 руб.')

Отчет о доходах
1 квартал: 1200000 руб.
2 квартал: 1350000 руб.
3 квартал: 1280000 руб.
4 квартал: 1420000 руб.

In [ ]:
# 5
analyst_name = input ('Введите ваше имя')
print ('Добро пожаловать в команду,', analyst_name, '!')

Введите ваше имяHelen
Добро пожаловать в команду, Helen !

In [ ]:
# 6
name_company = input ('Введите название компании')
print (name_company, '- лидер рынка!')

Введите название компанииСбер
Сбер - лидер рынка!

In [ ]:
# 7
name_data = input('Название:')
quantity_line = input('число строк:')
quantity_column = input('число столбцов:')
print(name_data)
print(quantity_line)
print(quantity_column)

Название:Sales Q1
число строк:1000
число столбцов:8
Sales Q1
1000
8

In [ ]:
# 8
report_1 = input('введите месяц')
report_2 = input('введите месяц')
report_3 = input('введите месяц')
print ('Продажи за ', report_3)
print ('Продажи за ', report_2)
print ('Продажи за ', report_1)

введите месяцянварь
введите месяцфевраль
введите месяцмарт
Продажи за  март
Продажи за  февраль
Продажи за  январь

In [ ]:
# 9
base_price = float(input())
growth_percent = float(input())
new_price = base_price + ((base_price * growth_percent)/100)
delta = new_price - base_price
print ('Новая цена', new_price)
print('Разница', delta)

100
20
Новая цена 120.0
Разница 20.0

In [ ]:
# 10
print ('Северный', 'Центральный', 'Южный', sep='***')

Северный***Центральный***Южный

In [ ]:
# 11
name = input ('Введите имя:')
print ('Подключение установлено. Добро пожаловать,' , end = ' ' )
print (name, end=' ')
print ("!")

Введите имя:Влад
Подключение установлено. Добро пожаловать, Влад !

In [ ]:
# 12
product_name_1 = 'молоко'
product_name_2 = 'хлеб'
product_name_3 = 'сыр'
print (product_name_1, product_name_2, product_name_3, sep = '|')

молоко|хлеб|сыр

In [ ]:
# 13
value_str = "42.7"
integer_part = float(value_str)
integer_part = int(integer_part)
print(integer_part)

42

In [ ]:
# 14
orders_yesterday = 10
plan = 20
abs_diff = abs (orders_yesterday - plan)
print ('Абсолютное отклонение от плана равняется', abs_diff)

Абсолютное отклонение от плана равняется 10

In [ ]:
# 15
a=1
b=2
c=3
d=4
e=5
min_value = min(a, b, c, d, e)
max_value = max(a, b, c, d, e)
print('Наименьшее число', min_value)
print('Наибольшее число', max_value)

Наименьшее число 1
Наибольшее число 5

In [ ]:
# 16
first_name = 'Антон'
last_name = ' Иванов'
FIO = first_name + last_name
print ('Привет,', FIO, '! Вы только что начали изучать Python')

Привет, Антон Иванов ! Вы только что начали изучать Python

In [ ]:
# 17
a = 'Каждый в этой стране должен научиться программировать,'
b = ' потому что это учит думать.'
print (a+b)

Каждый в этой стране должен научиться программировать, потому что это учит думать.

In [ ]:
# 18
purchase_amount = 999
print (purchase_amount >= 1000)

False

In [ ]:
# 19
age = 16
print (age >= 18)

False

In [ ]:
# 20
S=500
V1=50
V2=70
t = S / (V1+V2)
print (t)

4.166666666666667

In [ ]:
# 21
a= 443
b= 390
S = a*b/2
print(S)

86385.0

In [ ]:
# 22
tF = 450.55
tC = float((5/9)*(tF-32))
print(tC)

232.5277777777778

In [ ]:
# 23
revenue_str = float("438746.78")
bonus = revenue_str * 0.01
courier_name = 'Влад'
report = 'Курьер '+ courier_name + ' получит бонус ' + str(bonus) + ' р.'
print(report)

Курьер Влад получит бонус 4387.4678 р.

# Условный оператор. Циклы. Функции

In [ ]:
#1
password1 = input ('Введите пароль:')
password2 = input ('Повторите пароль')
if password1 == password2 :
    print ('Пароли совпадают')
else :
    print ('Пароли не совпадают. Попробуйте еще раз')

Введите пароль:Лена
Повторите парольЛена
Пароли совпадают

In [ ]:
#2
user_age = int(input('Введите возраст'))
if user_age >= 18 :
  print ('Доступ разрешен')
else:
  print ('Доступ запрещен')

Введите возраст18
Доступ разрешен

In [ ]:
#3
a= int(input('Введите число'))
b= int(input('Введите еще число'))
if a<b:
  print (a)
else:
  print (b)

Введите число8
Введите еще число11
8

In [ ]:
#4
a= int(input("Ввести число"))
b= int(input("Ввести число"))
c= int(input("Ввести число"))
if a<b<c:
  print('ДА')
else:
  print('НЕТ')

Ввести число1
Ввести число2
Ввести число3
ДА

In [ ]:
#5
num1 = int(input("Введите первое число: "))
num2 = int(input("Введите второе число: "))
num3 = int(input("Введите третье число: "))

total = 0

if num1 > 0:
    total = total + num1
if num2 > 0:
    total =  total + num2
if num3 > 0:
    total = total + num3
print (total)

Введите первое число: -1
Введите второе число: -2
Введите третье число: -2
0

In [ ]:
#6
num1 = int(input("Введите первое число: "))
num2 = int(input("Введите второе число: "))
num3 = int(input("Введите третье число: "))
num4 = int(input("Введите четвертое число: "))

if num1<num2 and  num1<num3 and  num1<num4:
    print (num1)

if num2<num1 and  num2<num3 and  num2<num4:
    print (num2)

if num3<num1 and  num3<num2 and  num3<num4:
    print (num3)

if num4<num1 and  num4<num2 and  num4<num3:
    print (num4)

if num1==num2 or  num1==num3 or  num1==num4:
    print (num1)

if num2==num3 or  num2==num4:
    print (num2)

if num3==num4:
    print (num3)

Введите первое число: 2
Введите второе число: 2
Введите третье число: 9
Введите четвертое число: 8
2

In [ ]:
#7
year= int(input('Введите год'))
if year % 4 == 0 and not year % 100 == 0 or year % 400 == 0 :
  print('Да')
else:
  print('Нет')

Введите год2020
Да

In [ ]:
#8
a = int(input('Введи число'))
b = int(input('Введи число'))
c = int(input('Введи число'))
if b<a<c or c<a<b:
  print (a)
if a<b<c or c<b<a:
  print (b)
if a<c<b or b<c<a:
  print (c)

Введи число8
Введи число9
Введи число4
8

In [ ]:
#9
for i in range(10):
  print('Войти в IT с Python')

Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python

In [ ]:
#10
n = int(input('Введи число от 1 до 20'))
for i in range(n):
  print ('*******************')

Введи число от 1 до 2010
*******************
*******************
*******************
*******************
*******************
*******************
*******************
*******************
*******************
*******************

In [ ]:
#11
a= input('Введи текст ')
for i in range(10):
  print(i, a)

Введи текст Ура
0 Ура
1 Ура
2 Ура
3 Ура
4 Ура
5 Ура
6 Ура
7 Ура
8 Ура
9 Ура

In [ ]:
#12
n = int(input('Введи число от 0 до 100 '))
a, b = 0 , 1
for i in range (n):

    print (b)
    a , b = b , a + b

Введи число от 0 до 100 7
1
1
2
3
5
8
13

In [ ]:
#13
n = int(input('Введи число '))
a = 1
for i in range (n):

    a  = a * (i+1)

print (a)

Введи число 4
24

In [ ]:
#14
word = input('Введи слово ')
while word != 'стоп':
      print (word)
      word = input('Введи слово ')

Введи слово один
один
Введи слово два
два
Введи слово три
три
Введи слово стоп

In [ ]:
#15
num = int(input('Введи число '))
sum = 0
while num > 0:
     sum = sum + num
     print(sum)
     num = int(input('Введи число '))

Введи число 1
1
Введи число 2
3
Введи число 2
5
Введи число 3
8
Введи число 4
12
Введи число 5
17
Введи число -10

In [ ]:
#16
def draw_triangle():

    print ('*')
    print ('**')
    print ('***')
    print ('****')
    print ('*****')
    print ('******')
    print ('*******')

In [ ]:
#17
def print_fio(name, surname, patronymic):
    fio = name[0] + patronymic[0] + surname[0]
    print (fio.upper() )

name = input ('имя ')
surname = input ('фамилия ')
patronymic = input ('отчество ')
print_fio(name, surname, patronymic)

имя алексей
фамилия иванов
отчество петрович
АПИ

In [ ]:
#18
def indicators():
    total_sum = 0
    sum_of_squares = 0

    while total_sum != 0 or sum_of_squares == 0:
          number = int(input('Введи число '))
          total_sum += number
          sum_of_squares += number ** 2

    print(sum_of_squares)

indicators()

Введи число 2
Введи число 2
Введи число -4
24

In [ ]:
#19
def convert_to_miles(distance_km):
    return distance_km * 0.6214

distance_km = float(input('Введи расстояние к км '))
distance_miles = convert_to_miles(distance_km)
print(distance_miles)

Введи расстояние к км 10
6.2139999999999995

# Кортежи, списки, словари, множества

In [2]:
#1
n = int(input('введи число'))
number = list(range(n))
print(number)

введи число6
[0, 1, 2, 3, 4, 5]

In [7]:
#2
user_ids = [104, 217, 86, 395, 132]
total_users = len(user_ids)
min_max_ids = list((max(user_ids), min(user_ids)))
ID_second_user = user_ids[1]
last_user = user_ids[-1]
print(total_users)
print(min_max_ids)
print(ID_second_user)
print(last_user)

5
[395, 86]
217
132

In [20]:
#3
moscow_orders = [104, 217, 86, 395, 132]
spb_orders = [120, 205, 180, 260, 155]
total_moscow = sum(moscow_orders)
total_spb = sum(spb_orders)
all_orders_desc = sorted(moscow_orders + spb_orders, reverse=True)
max_single_day = max(all_orders_desc)
average_moscow = round((total_moscow / len(moscow_orders)),0)
had_zero_moscow = 0 in moscow_orders

print(total_moscow)
print(total_spb)
print(all_orders_desc)
print(max_single_day)
print(average_moscow)
print (had_zero_moscow)

934
920
[395, 260, 217, 205, 180, 155, 132, 120, 104, 86]
395
187.0
False

In [3]:
#4
events = ["Поиск", "Настройки", "Профиль"]
important_sections = ["Главная", "Каталог"]
events.insert(0, "Главная")
events.append("Каталог")
events.remove("Профиль")
print(events)

['Главная', 'Поиск', 'Настройки', 'Каталог']

In [7]:
#5
ratings = [5, 4, 3, 5, 5, 2, 4, 5]
count_fives = ratings.count(5)
share_of_fives = count_fives / len(ratings)

print(f'Количество оценок 5 {count_fives}')
print(f'Доля оценок 5 {share_of_fives}')

Количество оценок 5 4
Доля оценок 5 0.5

In [11]:
#6
session_durations = [15, 40, 1, 25, 5]
shortest_session = min(session_durations)
session_durations.remove(shortest_session)
session_durations.sort()
session_durations.append((max(session_durations)+10))
session_durations.insert(0,0)
is_long_session = len(session_durations) >5 in session_durations

print(f'Самая короткая сессия {shortest_session}')
print(f'Обновлённый список {session_durations}')
print(f'Длинная ли сессия? {is_long_session}')

Самая короткая сессия 1
Обновлённый список [0, 5, 15, 25, 40, 50]
Длинная ли сессия? True

In [13]:
#7
n = int(input('Введи число '))
cubes = []

for i in range(n):
    num = int(input())
    cubes.append(num ** 3)

print(cubes)

Введи число 5
1
2
3
4
5
[1, 8, 27, 64, 125]

In [15]:
#8
numbers = (3.1415, 1.8, 1.9, 1.4, 1.161, 1.324)
print(f'сумма {max(numbers) + min(numbers)}')

сумма 4.3025

In [17]:
#9
s_tuple = ('Иванов Иван', 1985, 'СанктПетербург')
s_list = list(s_tuple)
s_list.pop(2)
s_list.append('Москва')
s_tuple = tuple(s_list)
print(s_tuple)

('Иванов Иван', 1985, 'Москва')

In [19]:
#10
courier = {}
courier['name'] = 'Иван'
courier['delivered_orders'] = '125'
courier['is_active'] = 'True'
print(courier)

{'name': 'Иван', 'delivered_orders': '125', 'is_active': 'True'}

In [22]:
#11
ducts = {'стол':'мебель', 'диван':'мебель', 'лампа':'дом', 'холодильник':'техника'}
is_home = 'дом' in ducts.values()
print(is_home)

True

In [27]:
#12
products = {'стол': 'мебель', 'диван': 'мебель', 'лампа': 'дом', 'холодильник': 'техника'}
categories = list(set(products.values()))
products_number = len(products)

print(categories)
print(products_number)

['дом', 'мебель', 'техника']
4

In [29]:
#13
products = {'стол': 'мебель', 'диван': 'мебель', 'лампа': 'дом', 'холодильник': 'техника'}
product_names = sorted(products)
first_product = product_names[0]

print(product_names)
print(first_product)

['диван', 'лампа', 'стол', 'холодильник']
диван

In [32]:
#14
user_data = {'orders_count': 4,'total_spent': 6000}

if user_data['orders_count']>=5 and user_data['total_spent'] >=10000:
     priority_status = 'Премиум'
elif user_data['orders_count']>=3 or user_data['total_spent'] >=5000:
    priority_status = 'Хороший клиент'

print(priority_status)

Хороший клиент

In [33]:
#15
text = input()
unique_sim = set(text)
count = len(unique_sim)
print(count)

analytics
8

In [8]:
#16
text = 'abc cab bac'
t_s= text.split(' ')
print(t_s)

set1 = set(t_s[0])
set2 = set(t_s[1])
set3 = set(t_s[2])

if set1 == set2 == set3:
    print("ДА")
else:
    print("НЕТ")

['abc', 'cab', 'bac']
ДА

In [10]:
#17
numbers = list(map(int, input().split()))
seen = set()

for num in numbers:
    if num in seen:
        print("ДА")
    else:
        print("НЕТ")
        seen.add(num)

1 2 3 4 1
НЕТ
НЕТ
НЕТ
НЕТ
ДА

In [12]:
#18
n = int(input())

for i in range(n):
    word = input().lower()
    unique_chars = len(set(word))
    print(unique_chars)

2
Андрей
6
123123
3

# NumPy и Pandas