<a href="https://colab.research.google.com/github/HelenSwarovski/sechenov.online/blob/main/%D0%97%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D1%8F_%D0%BF%D0%B8%D1%82%D0%BE%D0%BD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Задания

In [ ]:
# Задание 1
print ('Hello World')

Hello World

In [ ]:
# 2
print (4, 8, 15, 16, 23, 42 )

4 8 15 16 23 42

In [ ]:
# 3
print ('*')
print ('**')
print ('***')
print ('****')
print ('*****')
print ('******')
print ('*******')

*
**
***
****
*****
******
*******

In [ ]:
# 4
print ('Отчет о доходах')
print ('1 квартал: 1200000 руб.')
print ('2 квартал: 1350000 руб.')
print ('3 квартал: 1280000 руб.')
print ('4 квартал: 1420000 руб.')

Отчет о доходах
1 квартал: 1200000 руб.
2 квартал: 1350000 руб.
3 квартал: 1280000 руб.
4 квартал: 1420000 руб.

In [ ]:
# 5
analyst_name = input ('Введите ваше имя')
print ('Добро пожаловать в команду,', analyst_name, '!')

Введите ваше имяHelen
Добро пожаловать в команду, Helen !

In [ ]:
# 6
name_company = input ('Введите название компании')
print (name_company, '- лидер рынка!')

Введите название компанииСбер
Сбер - лидер рынка!

In [ ]:
# 7
name_data = input('Название:')
quantity_line = input('число строк:')
quantity_column = input('число столбцов:')
print(name_data)
print(quantity_line)
print(quantity_column)

Название:Sales Q1
число строк:1000
число столбцов:8
Sales Q1
1000
8

In [ ]:
# 8
report_1 = input('введите месяц')
report_2 = input('введите месяц')
report_3 = input('введите месяц')
print ('Продажи за ', report_3)
print ('Продажи за ', report_2)
print ('Продажи за ', report_1)

введите месяцянварь
введите месяцфевраль
введите месяцмарт
Продажи за  март
Продажи за  февраль
Продажи за  январь

In [ ]:
# 9
base_price = float(input())
growth_percent = float(input())
new_price = base_price + ((base_price * growth_percent)/100)
delta = new_price - base_price
print ('Новая цена', new_price)
print('Разница', delta)

100
20
Новая цена 120.0
Разница 20.0

In [ ]:
# 10
print ('Северный', 'Центральный', 'Южный', sep='***')

Северный***Центральный***Южный

In [ ]:
# 11
name = input ('Введите имя:')
print ('Подключение установлено. Добро пожаловать,' , end = ' ' )
print (name, end=' ')
print ("!")

Введите имя:Влад
Подключение установлено. Добро пожаловать, Влад !

In [ ]:
# 12
product_name_1 = 'молоко'
product_name_2 = 'хлеб'
product_name_3 = 'сыр'
print (product_name_1, product_name_2, product_name_3, sep = '|')

молоко|хлеб|сыр

In [50]:
# 13
value_str = "42.7"
integer_part = float(value_str)
integer_part = int(integer_part)
print(integer_part)

42

In [51]:
# 14
orders_yesterday = 10
plan = 20
abs_diff = abs (orders_yesterday - plan)
print ('Абсолютное отклонение от плана равняется', abs_diff)

Абсолютное отклонение от плана равняется 10

In [1]:
# 15
a=1
b=2
c=3
d=4
e=5
min_value = min(a, b, c, d, e)
max_value = max(a, b, c, d, e)
print('Наименьшее число', min_value)
print('Наибольшее число', max_value)

Наименьшее число 1
Наибольшее число 5

In [2]:
# 16
first_name = 'Антон'
last_name = ' Иванов'
FIO = first_name + last_name
print ('Привет,', FIO, '! Вы только что начали изучать Python')

Привет, Антон Иванов ! Вы только что начали изучать Python

In [4]:
# 17
a = 'Каждый в этой стране должен научиться программировать,'
b = ' потому что это учит думать.'
print (a+b)

Каждый в этой стране должен научиться программировать, потому что это учит думать.

In [5]:
# 18
purchase_amount = 999
print (purchase_amount >= 1000)

False

In [6]:
# 19
age = 16
print (age >= 18)

False

In [7]:
# 20
S=500
V1=50
V2=70
t = S / (V1+V2)
print (t)

4.166666666666667

In [8]:
# 21
a= 443
b= 390
S = a*b/2
print(S)

86385.0

In [11]:
# 22
tF = 450.55
tC = float((5/9)*(tF-32))
print(tC)

232.5277777777778

In [14]:
# 23
revenue_str = float("438746.78")
bonus = revenue_str * 0.01
courier_name = 'Влад'
report = 'Курьер '+ courier_name + ' получит бонус ' + str(bonus) + ' р.'
print(report)

Курьер Влад получит бонус 4387.4678 р.

# Условный оператор. Циклы. Функции

In [1]:
#1
password1 = input ('Введите пароль:')
password2 = input ('Повторите пароль')
if password1 == password2 :
    print ('Пароли совпадают')
else :
    print ('Пароли не совпадают. Попробуйте еще раз')

Введите пароль:Лена
Повторите парольЛена
Пароли совпадают

In [2]:
#2
user_age = int(input('Введите возраст'))
if user_age >= 18 :
  print ('Доступ разрешен')
else:
  print ('Доступ запрещен')

Введите возраст18
Доступ разрешен

In [3]:
#3
a= int(input('Введите число'))
b= int(input('Введите еще число'))
if a<b:
  print (a)
else:
  print (b)

Введите число8
Введите еще число11
8

In [4]:
#4
a= int(input("Ввести число"))
b= int(input("Ввести число"))
c= int(input("Ввести число"))
if a<b<c:
  print('ДА')
else:
  print('НЕТ')

Ввести число1
Ввести число2
Ввести число3
ДА

In [11]:
#5
num1 = int(input("Введите первое число: "))
num2 = int(input("Введите второе число: "))
num3 = int(input("Введите третье число: "))

total = 0

if num1 > 0:
    total = total + num1
if num2 > 0:
    total =  total + num2
if num3 > 0:
    total = total + num3
print (total)

Введите первое число: -1
Введите второе число: -2
Введите третье число: -2
0

In [22]:
#6
num1 = int(input("Введите первое число: "))
num2 = int(input("Введите второе число: "))
num3 = int(input("Введите третье число: "))
num4 = int(input("Введите четвертое число: "))

if num1<num2 and  num1<num3 and  num1<num4:
    print (num1)

if num2<num1 and  num2<num3 and  num2<num4:
    print (num2)

if num3<num1 and  num3<num2 and  num3<num4:
    print (num3)

if num4<num1 and  num4<num2 and  num4<num3:
    print (num4)

if num1==num2 or  num1==num3 or  num1==num4:
    print (num1)

if num2==num3 or  num2==num4:
    print (num2)

if num3==num4:
    print (num3)

Введите первое число: 2
Введите второе число: 2
Введите третье число: 9
Введите четвертое число: 8
2

In [24]:
#7
year= int(input('Введите год'))
if year % 4 == 0 and not year % 100 == 0 or year % 400 == 0 :
  print('Да')
else:
  print('Нет')

Введите год2020
Да

In [27]:
#8
a = int(input('Введи число'))
b = int(input('Введи число'))
c = int(input('Введи число'))
if b<a<c or c<a<b:
  print (a)
if a<b<c or c<b<a:
  print (b)
if a<c<b or b<c<a:
  print (c)

Введи число8
Введи число9
Введи число4
8

In [28]:
#9
for i in range(10):
  print('Войти в IT с Python')

Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python

In [30]:
#10
n = int(input('Введи число от 1 до 20'))
for i in range(n):
  print ('*******************')

Введи число от 1 до 2010
*******************
*******************
*******************
*******************
*******************
*******************
*******************
*******************
*******************
*******************

In [33]:
#11
a= input('Введи текст ')
for i in range(10):
  print(i, a)

Введи текст Ура
0 Ура
1 Ура
2 Ура
3 Ура
4 Ура
5 Ура
6 Ура
7 Ура
8 Ура
9 Ура

In [43]:
#12
n = int(input('Введи число от 0 до 100 '))
a, b = 0 , 1
for i in range (n):

    print (b)
    a , b = b , a + b

Введи число от 0 до 100 7
1
1
2
3
5
8
13

In [47]:
#13
n = int(input('Введи число '))
a = 1
for i in range (n):

    a  = a * (i+1)

print (a)

Введи число 4
24

In [52]:
#14
word = input('Введи слово ')
while word != 'стоп':
      print (word)
      word = input('Введи слово ')

Введи слово один
один
Введи слово два
два
Введи слово три
три
Введи слово стоп

In [56]:
#15
num = int(input('Введи число '))
sum = 0
while num > 0:
     sum = sum + num
     print(sum)
     num = int(input('Введи число '))

Введи число 1
1
Введи число 2
3
Введи число 2
5
Введи число 3
8
Введи число 4
12
Введи число 5
17
Введи число -10

In [57]:
#16
def draw_triangle():

    print ('*')
    print ('**')
    print ('***')
    print ('****')
    print ('*****')
    print ('******')
    print ('*******')

In [62]:
#17
def print_fio(name, surname, patronymic):
    fio = name[0] + patronymic[0] + surname[0]
    print (fio.upper() )

name = input ('имя ')
surname = input ('фамилия ')
patronymic = input ('отчество ')
print_fio(name, surname, patronymic)

имя алексей
фамилия иванов
отчество петрович
АПИ

In [ ]:
#18
def indicators():
    num = int(input('Введи число '))
    while sum(num) != 0