<a href="https://colab.research.google.com/github/HelenSwarovski/sechenov.online/blob/main/%D0%97%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D1%8F_%D0%BF%D0%B8%D1%82%D0%BE%D0%BD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Задания

In [ ]:
# Задание 1
print ('Hello World')

Hello World

In [ ]:
# 2
print (4, 8, 15, 16, 23, 42 )

4 8 15 16 23 42

In [ ]:
# 3
print ('*')
print ('**')
print ('***')
print ('****')
print ('*****')
print ('******')
print ('*******')

*
**
***
****
*****
******
*******

In [ ]:
# 4
print ('Отчет о доходах')
print ('1 квартал: 1200000 руб.')
print ('2 квартал: 1350000 руб.')
print ('3 квартал: 1280000 руб.')
print ('4 квартал: 1420000 руб.')

Отчет о доходах
1 квартал: 1200000 руб.
2 квартал: 1350000 руб.
3 квартал: 1280000 руб.
4 квартал: 1420000 руб.

In [ ]:
# 5
analyst_name = input ('Введите ваше имя')
print ('Добро пожаловать в команду,', analyst_name, '!')

Введите ваше имяЕлена
Добро пожаловать в команду, Елена !

In [ ]:
# 6
name_company = input ('Введите название компании')
print (name_company, '- лидер рынка!')

Введите название компанииСбер
Сбер - лидер рынка!

In [ ]:
# 7
name_data = input('Название:')
quantity_line = input('число строк:')
quantity_column = input('число столбцов:')
print(name_data)
print(quantity_line)
print(quantity_column)

Название: Sales Q1
число строк:1000
число столбцов:8
 Sales Q1
1000
8

In [ ]:
# 8
report_1 = input('введите месяц ')
report_2 = input('введите месяц ')
report_3 = input('введите месяц ')
print ('Продажи за ', report_3)
print ('Продажи за ', report_2)
print ('Продажи за ', report_1)

введите месяц январь
введите месяц февраль
введите месяц март
Продажи за  март
Продажи за  февраль
Продажи за  январь

In [ ]:
# 9
base_price = float(input())
growth_percent = float(input())
new_price = base_price + ((base_price * growth_percent)/100)
delta = new_price - base_price
print ('Новая цена', new_price)
print('Разница', delta)

100
20
Новая цена 120.0
Разница 20.0

In [ ]:
# 10
print ('Северный', 'Центральный', 'Южный', sep='***')

Северный***Центральный***Южный

In [ ]:
# 11
name = input ('Введите имя:')
print ('Подключение установлено. Добро пожаловать,' , end = ' ' )
print (name, end=' ')
print ("!")

Введите имя:Влад
Подключение установлено. Добро пожаловать, Влад !

In [ ]:
# 12
product_name_1 = 'молоко'
product_name_2 = 'хлеб'
product_name_3 = 'сыр'
print (product_name_1, product_name_2, product_name_3, sep = '|')

молоко|хлеб|сыр

In [ ]:
# 13
value_str = "42.7"
integer_part = float(value_str)
integer_part = int(integer_part)
print(integer_part)

42

In [ ]:
# 14
orders_yesterday = 10
plan = 20
abs_diff = abs (orders_yesterday - plan)
print ('Абсолютное отклонение от плана равняется', abs_diff)

Абсолютное отклонение от плана равняется 10

In [ ]:
# 15
a=1
b=2
c=3
d=4
e=5
min_value = min(a, b, c, d, e)
max_value = max(a, b, c, d, e)
print('Наименьшее число', min_value)
print('Наибольшее число', max_value)

Наименьшее число 1
Наибольшее число 5

In [ ]:
# 16
first_name = 'Антон'
last_name = ' Иванов'
FIO = first_name + last_name
print ('Привет,', FIO, '! Вы только что начали изучать Python')

Привет, Антон Иванов ! Вы только что начали изучать Python

In [ ]:
# 17
a = 'Каждый в этой стране должен научиться программировать,'
b = ' потому что это учит думать.'
print (a+b)

Каждый в этой стране должен научиться программировать, потому что это учит думать.

In [ ]:
# 18
purchase_amount = 999
print (purchase_amount >= 1000)

False

In [ ]:
# 19
age = 16
print (age >= 18)

False

In [ ]:
# 20
S=500
V1=50
V2=70
t = S / (V1+V2)
print (t)

4.166666666666667

In [ ]:
# 21
a= 443
b= 390
S = a*b/2
print(S)

86385.0

In [ ]:
# 22
tF = 450.55
tC = float((5/9)*(tF-32))
print(tC)

232.5277777777778

In [ ]:
# 23
revenue_str = float("438746.78")
bonus = revenue_str * 0.01
courier_name = 'Влад'
report = 'Курьер '+ courier_name + ' получит бонус ' + str(bonus) + ' р.'
print(report)

Курьер Влад получит бонус 4387.4678 р.

# Условный оператор. Циклы. Функции

In [ ]:
#1
password1 = input ('Введите пароль:')
password2 = input ('Повторите пароль')
if password1 == password2 :
    print ('Пароли совпадают')
else :
    print ('Пароли не совпадают. Попробуйте еще раз')

Введите пароль:qwerty
Повторите парольqwerty
Пароли совпадают

In [ ]:
#2
user_age = int(input('Введите возраст'))
if user_age >= 18 :
  print ('Доступ разрешен')
else:
  print ('Доступ запрещен')

Введите возраст16
Доступ запрещен

In [ ]:
#3
a= int(input('Введите число'))
b= int(input('Введите еще число'))
if a<b:
  print (a)
else:
  print (b)

Введите число8
Введите еще число11
8

In [ ]:
#4
a= int(input("Ввести число"))
b= int(input("Ввести число"))
c= int(input("Ввести число"))
if a<b<c:
  print('ДА')
else:
  print('НЕТ')

Ввести число1
Ввести число2
Ввести число3
ДА

In [ ]:
#5
num1 = int(input("Введите первое число: "))
num2 = int(input("Введите второе число: "))
num3 = int(input("Введите третье число: "))

total = 0

if num1 > 0:
    total = total + num1
if num2 > 0:
    total =  total + num2
if num3 > 0:
    total = total + num3
print (total)

Введите первое число: -3
Введите второе число: -2
Введите третье число: -10
0

In [ ]:
#6
num1 = int(input("Введите первое число: "))
num2 = int(input("Введите второе число: "))
num3 = int(input("Введите третье число: "))
num4 = int(input("Введите четвертое число: "))

if num1<num2 and  num1<num3 and  num1<num4:
    print (num1)

if num2<num1 and  num2<num3 and  num2<num4:
    print (num2)

if num3<num1 and  num3<num2 and  num3<num4:
    print (num3)

if num4<num1 and  num4<num2 and  num4<num3:
    print (num4)

if num1==num2 or  num1==num3 or  num1==num4:
    print (num1)

if num2==num3 or  num2==num4:
    print (num2)

if num3==num4:
    print (num3)

Введите первое число: 5
Введите второе число: 4
Введите третье число: 8
Введите четвертое число: 1
1

In [ ]:
2020
#7
year= int(input('Введите год'))
if year % 4 == 0 and not year % 100 == 0 or year % 400 == 0 :
  print('Да')
else:
  print('Нет')

Введите год2020
Да

In [ ]:
#8
a = int(input('Введи число'))
b = int(input('Введи число'))
c = int(input('Введи число'))
if b<a<c or c<a<b:
  print (a)
if a<b<c or c<b<a:
  print (b)
if a<c<b or b<c<a:
  print (c)

Введи число1
Введи число2
Введи число3
2

In [ ]:
#9
for i in range(10):
  print('Войти в IT с Python')

Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python

In [ ]:
#10
n = int(input('Введи число от 1 до 20'))
for i in range(n):
  print ('*******************')

Введи число от 1 до 204
*******************
*******************
*******************
*******************

In [ ]:
#11
a= input('Введи текст ')
for i in range(10):
  print(i, a)

Введи текст epoche
0 epoche
1 epoche
2 epoche
3 epoche
4 epoche
5 epoche
6 epoche
7 epoche
8 epoche
9 epoche

In [ ]:
#12
n = int(input('Введи число от 0 до 100 '))
a, b = 0 , 1
for i in range (n):

    print (b)
    a , b = b , a + b

Введи число от 0 до 100 7
1
1
2
3
5
8
13

In [ ]:
#13
n = int(input('Введи число '))
a = 1
for i in range (n):

    a  = a * (i+1)

print (a)

Введи число 9
362880

In [ ]:
#14
word = input('Введи слово ')
while word != 'стоп':
      print (word)
      word = input('Введи слово ')

Введи слово первый
первый
Введи слово второй
второй
Введи слово стоп

In [ ]:
#15
num = int(input('Введи число '))
sum = 0
while num > 0:
     sum = sum + num
     print(sum)
     num = int(input('Введи число '))

Введи число 5
5
Введи число 5
10
Введи число -5

In [ ]:
#16
def draw_triangle():

    print ('*')
    print ('**')
    print ('***')
    print ('****')
    print ('*****')
    print ('******')
    print ('*******')

In [ ]:
#17
def print_fio(name, surname, patronymic):
    fio = name[0] + patronymic[0] + surname[0]
    print (fio.upper() )

name = input ('имя ')
surname = input ('фамилия ')
patronymic = input ('отчество ')
print_fio(name, surname, patronymic)

имя Алексей
фамилия иванов
отчество петрович
АПИ

In [ ]:
#18
def indicators():
    total_sum = 0
    sum_of_squares = 0

    while total_sum != 0 or sum_of_squares == 0:
          number = int(input('Введи число '))
          total_sum += number
          sum_of_squares += number ** 2

    print(sum_of_squares)

indicators()

Введи число 2
Введи число 2
Введи число -4
24

In [ ]:
#19
def convert_to_miles(distance_km):
    return distance_km * 0.6214

distance_km = float(input('Введи расстояние к км '))
distance_miles = convert_to_miles(distance_km)
print(distance_miles)

Введи расстояние к км 10
6.2139999999999995

# Кортежи, списки, словари, множества

In [ ]:
#1
n = int(input('введи число'))
number = list(range(n))
print(number)

введи число5
[0, 1, 2, 3, 4]

In [ ]:
#2
user_ids = [104, 217, 86, 395, 132]
total_users = len(user_ids)
min_max_ids = list((max(user_ids), min(user_ids)))
ID_second_user = user_ids[1]
last_user = user_ids[-1]
print(total_users)
print(min_max_ids)
print(ID_second_user)
print(last_user)

5
[395, 86]
217
132

In [ ]:
#3
moscow_orders = [104, 217, 86, 395, 132]
spb_orders = [120, 205, 180, 260, 155]
total_moscow = sum(moscow_orders)
total_spb = sum(spb_orders)
all_orders_desc = sorted(moscow_orders + spb_orders, reverse=True)
max_single_day = max(all_orders_desc)
average_moscow = round((total_moscow / len(moscow_orders)),0)
had_zero_moscow = 0 in moscow_orders

print(total_moscow)
print(total_spb)
print(all_orders_desc)
print(max_single_day)
print(average_moscow)
print (had_zero_moscow)

934
920
[395, 260, 217, 205, 180, 155, 132, 120, 104, 86]
395
187.0
False

In [ ]:
#4
events = ["Поиск", "Настройки", "Профиль"]
important_sections = ["Главная", "Каталог"]
events.insert(0, "Главная")
events.append("Каталог")
events.remove("Профиль")
print(events)

['Главная', 'Поиск', 'Настройки', 'Каталог']

In [ ]:
#5
ratings = [5, 4, 3, 5, 5, 2, 4, 5]
count_fives = ratings.count(5)
share_of_fives = count_fives / len(ratings)

print(f'Количество оценок 5 {count_fives}')
print(f'Доля оценок 5 {share_of_fives}')

Количество оценок 5 4
Доля оценок 5 0.5

In [ ]:
#6
session_durations = [15, 40, 1, 25, 5]
shortest_session = min(session_durations)
session_durations.remove(shortest_session)
session_durations.sort()
session_durations.append((max(session_durations)+10))
session_durations.insert(0,0)
is_long_session = len(session_durations) >5 in session_durations

print(f'Самая короткая сессия {shortest_session}')
print(f'Обновлённый список {session_durations}')
print(f'Длинная ли сессия? {is_long_session}')

Самая короткая сессия 1
Обновлённый список [0, 5, 15, 25, 40, 50]
Длинная ли сессия? True

In [ ]:
1#7
n = int(input('Введи число '))
cubes = []

for i in range(n):
    num = int(input())
    cubes.append(num ** 3)

print(cubes)

Введи число 2
3
2
[27, 8]

In [ ]:
#8
numbers = (3.1415, 1.8, 1.9, 1.4, 1.161, 1.324)
print(f'сумма {max(numbers) + min(numbers)}')

сумма 4.3025

In [ ]:
#9
s_tuple = ('Иванов Иван', 1985, 'СанктПетербург')
s_list = list(s_tuple)
s_list.pop(2)
s_list.append('Москва')
s_tuple = tuple(s_list)
print(s_tuple)

('Иванов Иван', 1985, 'Москва')

In [ ]:
#10
courier = {}
courier['name'] = 'Иван'
courier['delivered_orders'] = '125'
courier['is_active'] = 'True'
print(courier)

{'name': 'Иван', 'delivered_orders': '125', 'is_active': 'True'}

In [ ]:
#11
ducts = {'стол':'мебель', 'диван':'мебель', 'лампа':'дом', 'холодильник':'техника'}
is_home = 'дом' in ducts.values()
print(is_home)

True

In [ ]:
#12
products = {'стол': 'мебель', 'диван': 'мебель', 'лампа': 'дом', 'холодильник': 'техника'}
categories = list(set(products.values()))
products_number = len(products)

print(categories)
print(products_number)

['дом', 'техника', 'мебель']
4

In [ ]:
#13
products = {'стол': 'мебель', 'диван': 'мебель', 'лампа': 'дом', 'холодильник': 'техника'}
product_names = sorted(products)
first_product = product_names[0]

print(product_names)
print(first_product)

['диван', 'лампа', 'стол', 'холодильник']
диван

In [ ]:
#14
user_data = {'orders_count': 4,'total_spent': 6000}

if user_data['orders_count']>=5 and user_data['total_spent'] >=10000:
     priority_status = 'Премиум'
elif user_data['orders_count']>=3 or user_data['total_spent'] >=5000:
    priority_status = 'Хороший клиент'

print(priority_status)

Хороший клиент

In [ ]:
#15
text = input()
unique_sim = set(text)
count = len(unique_sim)
print(count)

5
1

In [ ]:
#16
text = 'abc cab bac'
t_s= text.split(' ')
print(t_s)

set1 = set(t_s[0])
set2 = set(t_s[1])
set3 = set(t_s[2])

if set1 == set2 == set3:
    print("ДА")
else:
    print("НЕТ")

['abc', 'cab', 'bac']
ДА

In [ ]:
#17
numbers = list(map(int, input().split()))
seen = set()

for num in numbers:
    if num in seen:
        print("ДА")
    else:
        print("НЕТ")
        seen.add(num)

5
НЕТ

In [ ]:
#18
n = int(input())

for i in range(n):
    word = input().lower()
    unique_chars = len(set(word))
    print(unique_chars)

2
ура
3
alk
3

# NumPy и Pandas

In [2]:
import pandas as pd
import numpy as np
data = {
'сотрудник': ['Алина', 'Борис', 'Владимир', 'Дарья', 'Егор', 'Федор',
'Галина', 'Наталья', 'Игорь', 'Юлия'],
'отдел': ['Аналитика', 'Аналитика', 'Маркетинг', 'Аналитика', 'Маркетинг',
'Аналитика', 'Маркетинг', 'Аналитика', 'Маркетинг', 'Аналитика'],
'проект_баллы': [85, 92, 78, np.nan, 88, 75, 95, np.nan, 82, 90],
'выполнено_задач': [5, 7, 6, 7, 5, 6, 8, 4, 5, 7],
'пройдено_тест': ['да', 'да', 'нет', 'да', 'да', 'нет', 'да', 'нет', 'да',
'да']
}
labels = ['с1','с2','с3','с4','с5','с6','с7','с8','с9','с10']
df_sotrudniki = pd.DataFrame(data, index=labels)
df_sotrudniki

    сотрудник      отдел  проект_баллы  выполнено_задач пройдено_тест
с1      Алина  Аналитика          85.0                5            да
с2      Борис  Аналитика          92.0                7            да
с3   Владимир  Маркетинг          78.0                6           нет
с4      Дарья  Аналитика           NaN                7            да
с5       Егор  Маркетинг          88.0                5            да
с6      Федор  Аналитика          75.0                6           нет
с7     Галина  Маркетинг          95.0                8            да
с8    Наталья  Аналитика           NaN                4           нет
с9      Игорь  Маркетинг          82.0                5            да
с10      Юлия  Аналитика          90.0                7            да

In [ ]:
#2
print(df_sotrudniki.head(3))

   сотрудник      отдел  проект_баллы  выполнено_задач пройдено_тест
с1     Алина  Аналитика          85.0                5            да
с2     Борис  Аналитика          92.0                7            да
с3  Владимир  Маркетинг          78.0                6           нет

In [ ]:
#3
print(df_sotrudniki.loc[['с4', 'с5', 'с9'], ['сотрудник', 'проект_баллы']])

   сотрудник  проект_баллы
с4     Дарья           NaN
с5      Егор          88.0
с9     Игорь          82.0

In [ ]:
#4
print(df_sotrudniki[df_sotrudniki['выполнено_задач']>6])

    сотрудник      отдел  проект_баллы  выполнено_задач пройдено_тест
с2      Борис  Аналитика          92.0                7            да
с4      Дарья  Аналитика           NaN                7            да
с7     Галина  Маркетинг          95.0                8            да
с10      Юлия  Аналитика          90.0                7            да

In [ ]:
#5
df_sotrudniki.loc['c6', 'проект_баллы'] = 80
print(df_sotrudniki.loc['c6', 'проект_баллы'])

80.0

In [ ]:
#6
print(df_sotrudniki['выполнено_задач'].sum())

60.0

In [ ]:
#7
print(df_sotrudniki.groupby('отдел')['проект_баллы'].mean())

отдел
Аналитика    85.50
Маркетинг    85.75
Name: проект_баллы, dtype: float64

In [ ]:
#8
sortirovochka = df_sotrudniki.sort_values (by = ['проект_баллы', 'выполнено_задач'], ascending = [False, True])
print(sortirovochka)

    сотрудник      отдел  проект_баллы  выполнено_задач пройдено_тест
с7     Галина  Маркетинг          95.0              8.0            да
с2      Борис  Аналитика          92.0              7.0            да
с10      Юлия  Аналитика          90.0              7.0            да
с5       Егор  Маркетинг          88.0              5.0            да
с1      Алина  Аналитика          85.0              5.0            да
с9      Игорь  Маркетинг          82.0              5.0            да
c6        NaN        NaN          80.0              NaN           NaN
с3   Владимир  Маркетинг          78.0              6.0           нет
с6      Федор  Аналитика          75.0              6.0           нет
с8    Наталья  Аналитика           NaN              4.0           нет
с4      Дарья  Аналитика           NaN              7.0            да

In [7]:
#9

df_sotrudniki['пройдено_тест'] = df_sotrudniki['пройдено_тест'].replace({'да':True, 'нет':False})
print(df_sotrudniki['пройдено_тест'])

с1      True
с2      True
с3     False
с4      True
с5      True
с6     False
с7      True
с8     False
с9      True
с10     True
Name: пройдено_тест, dtype: bool

In [9]:
#10
from sklearn.datasets import fetch_california_housing
import pandas as pd
# Загружаем встроенный датасет
california = fetch_california_housing()
# Создаём DataFrame из признаков
df_california = pd.DataFrame(california.data, columns=california.feature_names)

In [13]:
#11

df_california['MedHouseVal'] = california.target
df_california = pd.concat([
    df_california,
    pd.DataFrame(california.target, columns=['MedHouseVal'])
], axis=1)

In [11]:
#12

df_california.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MedInc       20640 non-null  float64
 1   HouseAge     20640 non-null  float64
 2   AveRooms     20640 non-null  float64
 3   AveBedrms    20640 non-null  float64
 4   Population   20640 non-null  float64
 5   AveOccup     20640 non-null  float64
 6   Latitude     20640 non-null  float64
 7   Longitude    20640 non-null  float64
 8   MedHouseVal  20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

In [12]:
#13
count = df_california.isna().sum()
print(count)

MedInc         0
HouseAge       0
AveRooms       0
AveBedrms      0
Population     0
AveOccup       0
Latitude       0
Longitude      0
MedHouseVal    0
dtype: int64

In [17]:
#14

filtered_data = df_california.loc[
    (df_california['HouseAge'] > 50) & (df_california['Population'] > 2500)
]
print(filtered_data[['HouseAge', 'Population']])

       HouseAge  Population
460        52.0      3337.0
4131       52.0      2589.0
4440       52.0      3062.0
5986       52.0      2688.0
7369       52.0      3731.0
8227       52.0      3018.0
13034      52.0      6675.0
15634      52.0      2957.0
15652      52.0      3260.0
15657      52.0      3436.0
15659      52.0      4518.0
15795      52.0      2619.0
15868      52.0      2987.0

In [18]:
#15

max_price = df_california['MedHouseVal'].max()
min_price = df_california['MedHouseVal'].min()

print(f"Максимальная медианная стоимость дома: {max_price}")
print(f"Минимальная медианная стоимость дома: {min_price}")

Максимальная медианная стоимость дома: MedHouseVal    5.00001
MedHouseVal    5.00001
dtype: float64
Минимальная медианная стоимость дома: MedHouseVal    0.14999
MedHouseVal    0.14999
dtype: float64